.form {
  background-color: var(--red);
  padding: 0em 3em 1em 1.5em;
  border-radius: 0 0 7px 7px;
  /* box-shadow: 0.1em 0.3em 0.3em 0em var(--yellow); */
}

.inputTask {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 1em;
  width: 98.5%;
  height: 2.5em;
  border: none;
  outline-color: var(--red);
  padding-left: 1em;
}
