.taskBoard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  margin: 1em 1em 0em 2em;
  font-family: "Kosko";
  font-size: 2em;
  font-weight: 600;
  color: var(--red);
}

.boardAndButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nextPrev {
  width: 4em;
  display: flex;
  justify-content: center;
}

.taskBoardComponent {
  flex: auto;
}

.bottonArrow {
  border: none;
  outline: none;
  padding: 0em;
}
