.methodsList {
  background-color: var(--red);
  height: 100%;
}

.method {
  background-color: #858585;
  padding: 0.4em;
  margin: 0.5em 1.3em 0.5em 0.5em;
  color: white;
  border-radius: 2px;
  border-color: var(--red);
  font-size: 1em;
}

.taskSelection {
  background-color: white;
  padding: 0.2em;
  margin: 0.3em 1.3em 0.5em 3em;
  width: 9em;
  height: 2em;
  color: var(--red);
  border-radius: 2px;
  border-color: white;
  font-size: 0.8em;
}

.flexForTasks {
  display: flex;
  flex-direction: column;
}
