:root,
html,
body,
element {
  --red: #e76165;
  --yellow: #f3bc13;
  --dark-blue: #1e3747;
}

@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

@font-face {
  font-family: "AdventPro";

  src: url("../style/fonts/AdventPro-Regular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}
