:root,
html,
body,
element {
  --red: #e76165;
  --yellow: #f3bc13;
  --dark-blue: #1e3747;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

@font-face {
  font-family: "AdventPro";

  src: url("../style/Fonts/AdventPro-Regular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}
