.taskSelection {
  background-color: white;
  padding: 0.2em;
  margin: 0.3em 1.3em 0.5em 3em;
  width: 9em;
  height: 2em;
  color: var(--red);
  border-radius: 2px;
  border-color: white;
  font-size: 0.8em;
}
