.task {
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  padding: 20px 20px 20px 5px;
  width: 13em;
}

.taskCode {
  background-color: #f8f8f8;
  margin-top: 0.5em;
  height: 2em;
  color: #6b6a6a;
  font-family: "Times New Roman", Times, serif;
}
