.task {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  padding: 1em 2em 0.5em 1em;
  height: 10em;
  color: white;
  font-size: 1.5em;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0.1em 0.3em 0.3em 0em var(--red);
}

.taskCode {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: 0.5em;
  padding-left: 1em;
  height: 100%;
  color: var(--red);
  font-family: "Montserrat", sans-serif;
}

.textCode {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 5;
}

.codeResult {
  display: flex;
  flex: 3;
}

.span {
  color: var(--dark-blue);
  font-weight: 600;
}
